body{
    background: royalblue;
}
.cookie-logo{
    height: 75px;
}
.cookie-preview{
    width: 601px;
    height: 640px;
    background: url('/assets/images/coconut.png') , url('/assets/images/empty-dark.png')
}